<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lawclientauth">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LawClientAuth">

        <!-- Splash Screen (launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Signup -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <!-- Home -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- Edit Profile -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- FileProvider (PDF export & sharing) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.lawclientauth.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
